build/*
ubuntu-build/*
*.gch
*.bak
.vscode/ipch/*
/PICFuelGauge.X/build/
/PICFuelGauge.X/dist/
/PICFuelGauge.X/nbproject/private/
/PICFuelGauge.X/nbproject/Makefile*
/PICFuelGauge.X/nbproject/Package-default.bash
/hardware/*bak
/hardware/fp-info-cache
/wiring/*bak
